@import url(fox-b.css);
.img-logg{
    padding: 0px;
}
.content{
    padding-top: 15px;
    color: indigo;
}
.nav-item{
    margin-left: 35px;
}
.bg-cus{
    background-color: white;
}
.hech{
    text-align: center;
}
.colgap{
    margin-top: 15px;
    height: fit-content;
}
.carousel .carousel-inner .carousel-caption.cour{
    top: 35%;
}
.small{
    font-size: 10px;
}
.marg{
    border-right: 5px solid greenyellow; 
}
.mar{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
.fons{
    margin-top: 5px;
}
.icn{
    font-size: 25px;
    transform: rotate(-45deg);
    display: block;
    margin-left:-5px;
    margin-top:6px;
}
.bg{
    background-color: grey;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px;    
}
.sec{
    margin-top: 10px;
}
.bgg{
    background-color: lightgreen;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
}
.carousel.slide .carousel-indicators .dvv{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.hgt{
    height: 254px;
    overflow: hidden;
}
.but{

}
.aftr{
    height: 500px;
    transition: 1s;
}
.galcnt{
    height: 350px;
    
}
.gallery .gallery-controls.galll{    
    margin-top: 0px;
    margin-bottom: 0px;    
}
.skil{
    background-color: #f8f6f6;
}
.our{
    background-color: white;
}
.vid{
    text-align: center;
}
.vid .nav.nav-tabs .butt{
    padding: 5px;
}
.tab-content .serv{
    background-color: white;
}
.sprint{
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid turquoise;
}
.cir{
    position: relative;
}
.hoj{
    position: absolute;
    margin-left: 31px;
    margin-top: 52px;
}
.mdlic{
    position: absolute;
    margin-left: 36px;
    margin-top: 52px;
}
.dwl{
    text-align: center;
    background-color: white;
}
.dwlcnt{
    background-color: white;
}
.sprint .cir:hover{
    fill: violet;
    

}
.lp{
    min-height: 215px;
}
.imagecl{
    position: relative;
}
.content{
    position: absolute;
}
.container {
    margin-bottom: 10px;
  }
  
  .kk {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border-radius: 5px;
    margin-left: -16px;
    margin-top: -15px;
    text-align: center;
  }
  .kk .cp {
    font-size: 20px;
    margin-top: 5px;
  }
  