h1{
    color: indianred;
}
.container{
    margin-bottom: 10px;
}
.kk{
    width: 30px;
    height: 30px;
    background-color: lightblue;
    border-radius: 0px;
    margin-left: -16px;
    margin-top: -15px;
    text-align: center;
    .cp{
        font-size: 20px;
        margin-top: 5px;
    }
}
.kp{
    display: flex;
    width: 100%;
    .para{
        margin: 0px;
    }
}
.gg{
    background-color: rgb(80, 204, 204);
    margin-left: -12px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}